.light{
    background: #dddddd;
    color: #292929;
}
.light .navigation-panel, .light .home-page_videos{
    background-color: rgba(255, 255, 255, 0.2);
}
.light .name-page:hover{
    color: #292929;
}
.light .home-page{
    background: url("../icons/main-bg_light.svg") no-repeat 50% 150px;
    transform: translateX(-20px);
}
.light .page-names{
    background: white;
}
.light .menu-min-width{
    content: url("../icons/menu_dark.svg");
}
.light .main-title-light{
    position: fixed;
    z-index: -1;
    left: 410px;
    visibility: visible;
}
.light .main-title{
    visibility: hidden;
}
.light .close-cont img{
    content: url("../icons/close_light-theme.svg");
}
.light .panel-ducati{
    background: #ffffff;
    border: 5px solid #d6d6d6;
}
.light .close-cont:hover{
    background: #e4e4e4;
}
.light .videos-title h1{
    color: white;
}
.light .panel-ducati .chevron-left{
    content: url("../icons/chevron-left-black.svg");
}
.light .panel-ducati .chevron-right{
    content: url("../icons/chevron-right-black.svg");
}